:root{
    --orbit-base-pc: 60vh; 
    --orbit-base-tablet: 60vw;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: none;
    color: white;
}
html, body{
    background-color:rgb(35, 35, 35);
    overflow-x: hidden;
}
span{
    background-color: white !important;
}
p{
    text-align: left;
}
/*First Section*/
.naveg{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: rgba(113, 75, 202, 0.5);
    border-bottom: solid 3px blueviolet;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 20px;
    width: 100vw;
    height: 18vh;
    position: fixed;
    z-index: 2;
    top: 0;
    text-align: left;
}
.logo i{
    padding: calc((12vh - 64px)/2);
}
label{
    padding: 20px;
}
.naveg a{
    text-decoration: none;
}
#lista{
    list-style: none;
    display: flex;
    gap: 30px;
}
#icon, label{
    display: none;
}
#lista li a{
    padding: 10px 35px;
    border: solid transparent 1px;
    transition: .2s ease-in-out;
}
#lista li a:hover{
    border: solid 1px white;
    border-radius: 10px;
}
.s1{
    position: relative;
}
.s1 h1{
    float: right;
    margin: 15vh 20vw 0 0;
    text-align: left;
    font-size: 42px;
}
.s1 h1 strong{
        font-size: 42px;
        font-weight: bolder;
}
.s1 img{
        top: calc(((100vh - 25vh))/2);
        float: left;
        margin: 20px 0 0 50px;
        -webkit-animation: bounce 1s infinite  alternate;
        animation: bounce 1s infinite  alternate;
        width: 50vh;
}
#linkedin{
        position: absolute;
        bottom: 10vh;
        right: 20%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
}
#github{
        position: absolute;
        bottom: 10vh;
        right: 30%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
}
#github:hover, #linkedin:hover{
        transform: scale(1.2);
}
h1 {
        overflow: hidden;
        margin: 0 auto;
        display: inline-block;
        font-weight: normal;
}
h1:after{
        content: '';
        display: inline-block;
        background-color: white;
        margin-left: 2px;
        height: 25px;
        width: 4px;
        animation: cursor 0.4s infinite;
}
@keyframes cursor {
        0% { opacity: 1; }
        49% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 0; }
}
@keyframes bounce {
        0% { transform: translate(0); }
        100% { transform: translate(5px, -20px);}
}

/*Second Section*/
.s2{
    position: relative;
}
#box_texto{
    position: absolute;
    left: 10%;
    top: 35vh;
    width: 30%;
    text-align: left;
}
#box_texto h2{
    font-size: 42px;
    text-align: left;
    padding: 10px 0;
}
#box_texto p{
    font-size: 20px;
}
#img_container img{
    position: absolute;
    width: 40%;
}
#img_container{
    position: relative;
    width: var(--orbit-base-pc);
    height: var(--orbit-base-pc);
    float: right;
    margin: 15vh 10vw 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#html-orbit {
  position: absolute;
  width: calc(var(--orbit-base-pc)/2);
  height: calc(var(--orbit-base-pc)/2);
  border-radius: 100%;
  animation: orbit 10s linear infinite;
}
#css-orbit {
  position: absolute;
  width: calc((var(--orbit-base-pc)/4)*3 - 5vh);
  height: calc((var(--orbit-base-pc)/4)*3 - 5vh);
  border-radius: 100%;
  animation: orbit 15s linear infinite;
}
#js-orbit {
  position: absolute;

  width: calc(var(--orbit-base-pc) - 10vh);
  height: calc(var(--orbit-base-pc) - 10vh);
  border-radius: 100%;
  animation: orbit 15s linear infinite;
}
.fa-css3-alt, .fa-html5, .fa-square-js{
    position: absolute;
    padding: 4px;
    border-radius: 10px;
}
.fa-html5 {
  top: 62px;
  left: -6px;
  background-color: red;
  animation: rotate 5s linear infinite;
}
.fa-css3-alt {
  top: 25px;
  left: 17px;
  background-color: blue;
  animation: rotate 10s linear infinite;

}
.fa-square-js {
  top: -17px;
  left: 125px;
  background-color: yellow;
  animation: rotate 15s linear infinite;

}
@keyframes orbit {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
    100%{transform: rotate(360deg);}
}


/*Third Section*/
.s3{
    position: relative;
}
#proj-container h2{
    font-size: 42px;
    padding: 12px;
    position: absolute;
    top: 0;
}
#proj-container{
    position: absolute;
    bottom: calc((100vh - 18vh - 70vh)/2);
    width: 90vw;
    height: 70vh;
    margin: 0 calc((100vw - 90vw)/2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.proj-card{
    width: calc((90vw /3) - 4vw);
    height: calc(70vh - 20vh);
    border: solid 3px rgba(113, 75, 202);
    border-radius: 20px;
    transition: ease-in-out .3s;
    overflow: hidden;
    margin: 0 1%;
}
.image img{
    width: 100%;
    padding: 2%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.info h3{
    font-size: 30px;
    padding: 20px;
}
.proj-card:hover{
    transform: scale(1.05);
}

@media (max-width: 1024px) { /*NESTHUB*/
    .s1 h1{
        float: right;
        margin: 15% 10vw 0 0;
        text-align: left;
        font-size: 25px;
    }
    .s1 h1 strong{
        font-size: 30px;
        font-weight: bolder;
    }
    .s1 img{
        position: absolute;
        top: calc(((100vh - 30vh))/2);
        left: 1vw;
        -webkit-animation: bounce 1s infinite  alternate;
        animation: bounce 1s infinite  alternate;
        width: 35vw;
    }
    #linkedin{
        position: absolute;
        bottom: 10vh;
        right: 35%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
    }
    #github{
        position: absolute;
        bottom: 10vh;
        right: 20%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
    }


    /*Second Section*/
    .s2{
        position: relative;
    }
    #box_texto{
        position: absolute;
        left: 10%;
        top: 35vh;
        width: 30%;
        text-align: left;
    }
    #box_texto h2{
        font-size: 35px;
        text-align: left;
        padding: 10px 0;
    }
    #box_texto p{
        font-size: 15px;
    }
    .s2 img{
        position: absolute;
        right: 15%;
        top: 35vh;
        width: 40vh;
    }
}

@media (max-width: 820px) { /*IPAD AIR*/
    #lista li a{
        padding: 10px 15px;
        border: solid transparent 1px;
        transition: .2s ease-in-out;
    }
    #lista li a:hover{
        border: solid 1px white;
        border-radius: 10px;
    }
    .s1 h1{
        position: absolute;
        left: 20vw;
        text-align: left;
        font-size: 30px;
    }
    .s1 h1 strong{
        font-size: 34px;
        font-weight: bolder;
    }
    .s1 img{
        top: calc(((100vh - 24vh)/3));
        margin: 0 25vw;
        -webkit-animation: bounce 1s infinite  alternate;
        animation: bounce 1s infinite  alternate;
        width: 50vw;
    }
    #linkedin{
        position: absolute;
        bottom: 10vh;
        right: 26%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
        width: 120px;
    }
    #github{
        position: absolute;
        bottom: 10vh;
        left: 26%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
        width: 120px;
    }
    /*Second Section*/
    .s2{
        position: relative;
    }
    #box_texto{
        position: absolute;
        left: 0;
        top: 20vh;
        width: 100%;
        text-align: center;
        padding: 40px;
    }
    #box_texto h2{
        font-size: 42px;
        text-align: left;
        padding: 10px 0;
        text-align: center;
    }
    #box_texto p{
        font-size: 20px;
        text-align: center;
    }
    #img_container img{
        position: absolute;
        right: 0;
        margin: 28%;
        top: 0vh;
        width: 44%;
    }
    #img_container{
        position: relative;
        width: var(--orbit-base-tablet);
        height: var(--orbit-base-tablet);
        float: right;
        margin: 25vh 20vw 0 20vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #html-orbit {
      position: absolute;
      width: calc(var(--orbit-base-tablet)/2);
      height: calc(var(--orbit-base-tablet)/2);
      border-radius: 100%;
      animation: orbit 10s linear infinite;
    }
    #css-orbit {
      position: absolute;
      width: calc((var(--orbit-base-tablet)/4)*3 - 5vh);
      height: calc((var(--orbit-base-tablet)/4)*3 - 5vh);
      border-radius: 100%;
      animation: orbit 15s linear infinite;
    }
    #js-orbit {
      position: absolute;
    
      width: calc(var(--orbit-base-tablet) - 10vh);
      height: calc(var(--orbit-base-tablet) - 10vh);
      border-radius: 100%;
      animation: orbit 15s linear infinite;
    }
    .fa-css3-alt, .fa-html5, .fa-square-js{
        position: absolute;
        padding: 4px;
        border-radius: 10px;
    }
    .fa-html5 {
      top: 62px;
      left: -6px;
      background-color: red;
      animation: rotate 5s linear infinite;
    }
    .fa-css3-alt {
      top: 25px;
      left: 17px;
      background-color: blue;
      animation: rotate 10s linear infinite;
    
    }
    .fa-square-js {
      top: -17px;
      left: 125px;
      background-color: yellow;
      animation: rotate 15s linear infinite;
    
    }
    /*Third Section*/
    .s3{
        position: relative;
    }
    #proj-container h2{
        font-size: 42px;
        padding: 0px;
        position: absolute;
        top: 0;
    }
    #proj-container{
        position: absolute;
        bottom: calc((100vw - 18vw - 70vw)/2);
        width: 90vw;
        height: 70vh;
        margin: 0 calc((100vw - 90vw)/2);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
    }
    .proj-card{
        width: calc((90vw /2) - 4vw);
        height: calc((70vh - 20vh)/2);
        border: solid 3px rgba(113, 75, 202);
        border-radius: 20px;
        transition: ease-in-out .3s;
        overflow: hidden;
        margin: 1%;
        }
    .image img{
        width: 100%;
        padding: 2%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    .info h3{
        font-size: 30px;
        padding: 20px;
    }
    .proj-card:hover{
        transform: scale(1.05);
    }

}

@media (max-width: 768px) { /*IPAD MINI*/
    #lista{
        list-style: none;
        display: flex;
        gap: 15px;
    }
    #lista li a{
        padding: 10px 10px;
        border: solid transparent 1px;
        transition: .2s ease-in-out;
    }
    #lista li a:hover{
        border: solid 1px white;
        border-radius: 10px;
    }
    .s1 h1{
        position: absolute;
        left: 20vw;
        text-align: left;
        font-size: 30px;
    }
    .s1 h1 strong{
        font-size: 34px;
        font-weight: bolder;
    }
    .s1 img{
        top: calc(((100vh - 24vh)/4));
        margin: 0 25vw;
        -webkit-animation: bounce 1s infinite  alternate;
        animation: bounce 1s infinite  alternate;
        width: 50vw;
    }
    #linkedin{
        position: absolute;
        bottom: 10vh;
        right: 26%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
        width: 120px;
    }
    #github{
        position: absolute;
        bottom: 10vh;
        left: 26%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
        width: 120px;
    }
    /*Second Section*/
    #img_container img{
        position: absolute;
        right: 0;
        margin: 25%;
        top: 0vh;
        width: 50%;
    }
    #img_container{
        position: relative;
        width: var(--orbit-base-tablet);
        height: var(--orbit-base-tablet);
        float: right;
        margin: 45vh 20vw 0 20vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*Third Section*/
    .s3{
        position: relative;
    }
    #proj-container h2{
        font-size: 40px;
        padding: 0px;
        position: absolute;
        top: -20px;
    }
    .proj-card{
        width: calc((90vw /2) - 4vw);
        height: calc(((70vh - 20vh)/10)*6);
        border: solid 3px rgba(113, 75, 202);
        border-radius: 20px;
        transition: ease-in-out .3s;
        overflow: hidden;
        margin: 1%;
        }
}

@media (max-width: 640px){ /*MOBILE*/
    .nav{
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: .5s ease-in-out;
    }
    .naveg{
        height: 16vh;
    }
    #lista{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .naveg label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #icon:checked ~ .nav{
        max-height: 40vh;
        width: 60vw;
        margin: 2vh 20vw;
        background-color: rgba(113, 75, 202, 0.8);
        border-radius: 20px;
    }
    .s1{
        position: relative;
    }
    .s1 img{
        top: calc(((100vh - 26vh)/3));
        margin: 0 25vw;
        -webkit-animation: bounce 1s infinite  alternate;
        animation: bounce 1s infinite  alternate;
        width: 45vw;
    }
    .s1 h1{
        margin: 7vh auto 0 auto;
        text-align: left;
        font-size: 25px;
    }
    .s1 h1 strong{
        font-size: 28px;
        font-weight: bolder;
    }
    #linkedin{
        position: absolute;
        bottom: 10vh;
        right: 8%;
        padding: 5%;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
        width: 40%;
    }
    #github{
        position: absolute;
        bottom: 10vh;
        left: 8%;
        padding: 5%;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
        width: 40%;
    }
        /*Second Section*/
    .s2{
        position: relative;
    }
    #box_texto{
        position: absolute;
        left: 0;
        right: 10px;
        top: 16vh;
        width: 100%;
        text-align: center;
        padding: 44px;
    }
    #box_texto h2{
        font-size: 35px;
        text-align: left;
        padding: 10px 0;
        text-align: center;
    }
    #box_texto p{
        font-size: 15px;
        text-align: justify;
    }
    .s2 img{
        position: absolute;
        right: 0;
        margin: 0 35%;
        top: auto;
        bottom: 5%;
        width: 30%;
    }
        /*Third Section*/
    #proj-container h2{
        font-size: 30px;
        top: -30px;
    }
    #proj-container{
        position: absolute;
        margin: 0 5vw 0 0;
        width: 90vw;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info h3{
        display: none;
        visibility: hidden;
    }
    .image{
        width: 80vw;
        height: 23vh;
    }
    .image img{
        object-fit: cover;
        padding: 0;
        background-position: center;
        }
    .proj-card{
        width: 78vw;
        height: 20vh;
        overflow: hidden;
        margin: 1%;
        }

}
