*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: none;
    color: white;
}
html, body{
    background-color:rgb(35, 35, 35);
    overflow-x: hidden;
}
span{
    background-color: white !important;
}
.naveg{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: rgba(113, 75, 202, 0.5);
    border-bottom: solid 3px blueviolet;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 20px;
    width: 100vw;
    height: 18vh;
    position: fixed;
    z-index: 2;
    top: 0;
    text-align: left;
}
.logo i{
    padding: calc((12vh - 64px)/2);
}
label{
    padding: 20px;
}
.naveg a{
    text-decoration: none;
}
.lista{
    list-style: none;
    display: flex;
    gap: 30px;
}
#icon, label{
    display: none;
}
.lista li a{
    padding: 10px 35px;
    border: solid transparent 1px;
    transition: .2s ease-in-out;
}
.lista li a:hover{
    border: solid 1px white;
    border-radius: 10px;
}
.s1{
        position: relative;
}
.s1 h1{
        float: right;
        margin: 15vh 20vw 0 0;
        text-align: left;
        font-size: 42px;
}
.s1 h1 strong{
        font-size: 42px;
        font-weight: bolder;
}
.s1 img{
        top: calc(((100vh - 25vh))/2);
        float: left;
        margin: 20px 0 0 50px;
        -webkit-animation: bounce 1s infinite  alternate;
        animation: bounce 1s infinite  alternate;
        width: 50vh;
}
#linkedin{
        position: absolute;
        bottom: 10vh;
        right: 20%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
}
#github{
        position: absolute;
        bottom: 10vh;
        right: 30%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
}
#github:hover, #linkedin:hover{
        transform: scale(1.2);
}
h1 {
        overflow: hidden;
        margin: 0 auto;
        display: inline-block;
        font-weight: normal;
}
h1:after{
        content: '';
        display: inline-block;
        background-color: white;
        margin-left: 2px;
        height: 25px;
        width: 4px;
        animation: cursor 0.4s infinite;
}
@keyframes cursor {
        0% { opacity: 1; }
        49% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 0; }
}
@keyframes bounce {
        0% { transform: translate(0); }
        100% { transform: translate(5px, -20px);}
}


@media (max-width: 1024px) { /*NESTHUB*/
    .s1 h1{
        float: right;
        margin: 15% 10vw 0 0;
        text-align: left;
        font-size: 25px;
    }
    .s1 h1 strong{
        font-size: 30px;
        font-weight: bolder;
    }
    .s1 img{
        position: absolute;
        top: calc(((100vh - 30vh))/2);
        left: 1vw;
        -webkit-animation: bounce 1s infinite  alternate;
        animation: bounce 1s infinite  alternate;
        width: 35vw;
    }
    #linkedin{
        position: absolute;
        bottom: 10vh;
        right: 35%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
    }
    #github{
        position: absolute;
        bottom: 10vh;
        right: 20%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
    }
}

@media (max-width: 820px) { /*IPAD AIR*/
    .lista li a{
        padding: 10px 15px;
        border: solid transparent 1px;
        transition: .2s ease-in-out;
    }
    .lista li a:hover{
        border: solid 1px white;
        border-radius: 10px;
    }
    .s1 h1{
        position: absolute;
        left: 20vw;
        text-align: left;
        font-size: 30px;
    }
    .s1 h1 strong{
        font-size: 34px;
        font-weight: bolder;
    }
    .s1 img{
        top: calc(((100vh - 24vh)/3));
        margin: 0 25vw;
        -webkit-animation: bounce 1s infinite  alternate;
        animation: bounce 1s infinite  alternate;
        width: 50vw;
    }
    #linkedin{
        position: absolute;
        bottom: 10vh;
        right: 26%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
        width: 120px;
    }
    #github{
        position: absolute;
        bottom: 10vh;
        left: 26%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
        width: 120px;
    }
}

@media (max-width: 768px) { /*IPAD MINI*/
    .lista{
        list-style: none;
        display: flex;
        gap: 15px;
    }
    .lista li a{
        padding: 10px 10px;
        border: solid transparent 1px;
        transition: .2s ease-in-out;
    }
    .lista li a:hover{
        border: solid 1px white;
        border-radius: 10px;
    }
    .s1 h1{
        position: absolute;
        left: 20vw;
        text-align: left;
        font-size: 30px;
    }
    .s1 h1 strong{
        font-size: 34px;
        font-weight: bolder;
    }
    .s1 img{
        top: calc(((100vh - 24vh)/4));
        margin: 0 25vw;
        -webkit-animation: bounce 1s infinite  alternate;
        animation: bounce 1s infinite  alternate;
        width: 50vw;
    }
    #linkedin{
        position: absolute;
        bottom: 10vh;
        right: 26%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
        width: 120px;
    }
    #github{
        position: absolute;
        bottom: 10vh;
        left: 26%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
        width: 120px;
    }
}

@media (max-width: 640px){ /*MOBILE*/
    .nav{
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: .5s ease-in-out;
    }
    .lista{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .naveg label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #icon:checked ~ .nav{
        max-height: 40vh;
        width: 75vw;
        background-color: rgba(113, 75, 202, 0.8);
        border-radius: 20px;
    }
    .s1{
        position: relative;
    }
    .s1 img{
        top: calc(((100vh - 24vh)/3));
        margin: 0 25vw;
        -webkit-animation: bounce 1s infinite  alternate;
        animation: bounce 1s infinite  alternate;
        width: 45vw;
    }
    .s1 h1{
        margin: 6vh auto 0 auto;
        text-align: left;
        font-size: 25px;
    }
    .s1 h1 strong{
        font-size: 28px;
        font-weight: bolder;
    }
    #linkedin{
        position: absolute;
        bottom: 10vh;
        right: 12%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
        width: 120px;
    }
    #github{
        position: absolute;
        bottom: 10vh;
        left: 12%;
        padding: 20px;
        background-color: rgba(113, 75, 202, 0.5);
        border-radius: 20px;
        transition: .2s ease-in-out;
        width: 120px;
    }
}
